.pixelify-sans-title {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5vw;
}

#acordion-form{
  background-color: rgba(0, 0, 0, 0.40);
}
