.pixelify-sans-title {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5vw;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Ajusta el margen según tus necesidades */
}

input[type="radio"] {
  margin-right: 10px; /* Ajusta el margen entre el radio y el texto */
}

@media (max-width: 720px){
  #formAccordion{
    min-width: 95vw;
    font-size: 4vw;
    text-align: center;
  }
  .pixelify-sans-title{
    font-size: 5vw;
  }
}
