<header class="p-3">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/" class="nav-link px-2 link-light">Inicio</a></li>
        <li><a href="#" class="nav-link px-2 link-light">Puntuaciones</a></li>
        <li *ngIf="isAdmin"><a routerLink="/panel" class="nav-link px-2 link-light">Administrar</a></li>
      </ul>
      <div *ngIf="!localStorage.getItem('user')">
        <a routerLink="/login" class="d-block link-dark text-decoration-none">
          <img src="../../assets/profile_pics/default.webp" alt="mdo" width="50px" class="rounded-circle">
        </a>
      </div>
      <div *ngIf="user != {}">
        <a routerLink="/login" class="d-block link-dark text-decoration-none">
          <img [src]="user.image" alt="mdo" width="50px" class="rounded-circle">
        </a>
      </div>

    </div>
    <hr>
  </div>
</header>
