<div class="d-flex flex-column align-items-center m-3">
  <h2>Inicia sesión</h2>
  <form class="d-flex flex-column mb-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
     <div class="form-group mb-3">
      <label class="form-label">Nombre:</label>
      <input class="form-control" type="text" formControlName="name" name="username" placeholder="escribe tu nombre..." required>
     </div>
    <div class="form-group mb-3">
      <label class="form-label">Contraseña:</label>
      <input class="form-control" type="password" formControlName="credential" placeholder="escribe tu contraseña..." name="password" required>
    </div>
      <button class="btn btn-primary" type="submit">Iniciar sesion</button>
  </form>
  <p *ngIf="error" class="error">{{ error }}</p>
</div>
