<div class="text-white d-flex flex-column align-items-center">
  <h2>Inicia sesión</h2>
  <form class="d-flex flex-column" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label>Username:</label>
      <input type="text" formControlName="name" name="username" required>
      <label>Password:</label>
      <input type="password" formControlName="credential" name="password" required>
    <button type="submit">Login</button>
    <p *ngIf="error" class="error">{{ error }}</p>
  </form>
</div>

