<h1 class="text-white pixelify-sans-title text-center">HORA DE JUGAR</h1>
<div class="row row-cols-sm-1 row-cols-md-3 text-white">
  <div class="col-md-4 text-center">
    <img *ngFor="let n of [].constructor(lives); let last = last"
         alt="heart"
         width="15%"
         [src]="apiUrl + 'misc/heart.png'"
         [ngClass]="{'heartbeat': last }">
    <img *ngIf="!lives" width="50%" alt="skull" [src]="apiUrl + 'misc/skull.png'">
  </div>
  <div *ngIf="medias && medias[progressCount] && lives" class="mb-3 text-white text-center col-md-4">
    <img [alt]="medias[progressCount].name" [src]="apiUrl + 'media/' + medias[progressCount]['imageUrl']" width="75%" class="img-fluid">
    <form (ngSubmit)="submit(answer)" class="w-100 position-relative">
      <label [for]="response" class="form-label">Respuesta:</label>
      <input
        autocomplete="off"
        #response
        autofocus
        class="form-control" type="text" name="answer"
        placeholder="Escribe tu respuesta..."
        [(ngModel)]="answer"
        (ngModelChange)="filterMedias(answer)">
      <button class="btn btn-primary mt-2">Enviar</button>
      <div *ngIf="filteredMedias?.length" class="autocomplete mt-2">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let media of filteredMedias"
              (click)="selectMedia(media)">
            {{ media.name }}
          </li>
        </ul>
      </div>
    </form>

  </div>
  <div class="col-md-4 overflow-hidden text-center" *ngIf="lives === 0 || !medias?.length">
    <img alt="you-win" width="90%" class="object-fit-cover" [src]="apiUrl + 'misc/loss.png'">
    <p class="text-white">Te quedaste sin vidas, ¡suerte la próxima!</p>
    <p *ngIf="!medias?.length">PD: ¡NO MAS TRAMPAS!</p>
  </div>
  <div class="col-md-4 overflow-hidden text-center" *ngIf="medias && medias[progressCount] == null && medias.length">
    <img alt="you-win" width="90%" class="object-fit-cover" [src]="apiUrl + 'misc/winner.webp'">
    <p class="text-white">Se me han terminado los medios, por lo que has ganado!</p>
  </div>
  <div class="text-white text-center">
    <p>Racha actual: {{ streak }}</p>
    <p *ngIf="user">Tu racha máxima es: {{ user.maxScore }}</p>
  </div>
</div>

