<div class="d-flex justify-content-between">
  <h1 class="text-white">Panel de adminstración {{ entityName }}</h1><!-- TODO: crear un servicio de traducciones-->
  <button routerLink="create" class="btn btn-primary h-50" *ngIf="entityName">
    Crear
  </button>
</div>
<div class="d-flex justify-content-between text-white">
  <p
    class="w-25"
    *ngFor="let key of entityKeys">
    {{ key }}
  </p>
</div>
<hr *ngIf="entityName" class="text-white border-5">
<div
  *ngFor="let entity of getEntities()"
  class="text-white">
  <div
  class="d-flex justify-content-between align-items-center">
    <a [routerLink]="entity.id"  class="d-flex w-100 justify-content-between text-decoration-none text-white">
    <p
      *ngFor="let key of entityKeys"
      class="align-content-center w-25 text-truncate">
      {{ entity[key] }}
    </p>
    </a>
  </div>
  <hr>
</div>
<div *ngIf="!entityName" class="d-flex justify-content-around">
  <button class="btn btn-primary" routerLink="media">medios</button>
  <button class="btn btn-primary" routerLink="mediaType">tipos de medios</button>
  <button class="btn btn-primary" routerLink="user">usuarios</button>
  <button class="btn btn-primary" routerLink="userType">tipos de usuarios</button>
</div>
<div *ngIf="entityKeys.length <= 0 && entityName != null">
  <h3 class="text-white">no hay datos que mostrar</h3>
</div>
