.profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

*{
  font-size: 0.8vw;
}

#container {
  margin-top: 25%;
}

@media (max-width: 1920px) {
  #container{
    margin: 0;
  }
  *{
    font-size: 1.3vw;
  }
}

@media (max-width: 1024px) {
  #container{
    margin: 0;
    width: 100%;
  }
  *{
    font-size: 2vw;
  }

}

@media (max-width: 768px) {
}

