<div id="container">
  <div class="card">
    <div class="card-header text-center">
      <div class="d-flex flex-row justify-content-between">
      <button type="button" class="btn h-25" (click)="close($event)"><i class="fa-solid fa-xmark"></i></button>
      <button type="button" class="btn btn-danger h-25" (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
      </div>
    </div>
    <div class="card-body">
      <div class="text-center mb-3">
        <img *ngIf="!imagePrev" [src]="apiUrl + 'user/' + user.image" alt="Profile Picture" class="profile-img img-fluid w-25 h-25 object-fit-cover">
        <img *ngIf="imagePrev" [src]="imagePrev" alt="Profile Picture" class="profile-img img-fluid w-25 h-25 object-fit-cover">
        <div>
          <button class="btn btn-primary mt-2" (click)="triggerFileInput()"><i class="fa-solid fa-user"></i> Foto de perfil</button>
          <input type="file" formenctype="multipart/form-data" accept="image/*" id="fileInput" style="display: none;" (change)="onFileSelected($event)">
        </div>
      </div>
      <div *ngIf="imageChangedEvent">
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="1"
          format="png"
          (imageCropped)="imageCropped($event)">
        </image-cropper>
      </div>
      <form id="userForm">
        <div class="form-group">
          <label for="userName" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="userName" [(ngModel)]="name" name="name">
        </div>
        <div class="form-group mb-3">
          <label for="userPassword" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="userPassword" [(ngModel)]="credential" name="credential" placeholder="Escribe tu nueva contraseña">
        </div>
        <p *ngIf="error">{{error}}</p>
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar <i class="fa-solid fa-ban"></i></button>
          <button type="button" class="btn btn-success" (click)="save()">Confirmar <i class="fa-solid fa-floppy-disk"></i></button>
        </div>
        </form>
    </div>
  </div>
</div>
