<header>
  <div class="container">
    <div class="navbar row-cols-lg-6 col-sm-1 d-flex justify-content-between align-items-center">
      <ul class="nav col-lg-8 row-cols-sm-1">
        <li class="over"><a routerLink="/" class="nav-link px-2 link-light">Inicio</a></li>
        <li class="over"><a routerLink="/top" class="nav-link px-2 link-light">Puntuaciones</a></li>
        <li *ngIf="isAdmin" class="over"><a routerLink="/panel" class="nav-link px-2 link-light">Administrar</a></li>
      </ul>
      <div
        id="session-buttons"
        class="col-lg-4 row-cols-sm-1 d-flex justify-content-end align-items-center"
        *ngIf="!localStorage.getItem('user')">
        <a routerLink="/login" class="text-decoration-none">
          <button
          class="btn text-white"
          >
            Inicia sesión
          </button>
        </a>
        <a routerLink="/register" class="text-decoration-none">
          <button
            class="btn text-white"
          >
            Regístrate
          </button>
        </a>
      </div>
      <div *ngIf="localStorage.getItem('user')" class="col-lg4 d-flex justify-content-end">
      <a class="d-block link-dark text-decoration-none" (click)="toggleUserMenu($event)">
        <img [src]="user.image || 'http://192.168.0.95:8080/profile/default.webp'" alt="userImg" class="profile-img">
      </a>
    </div>
    </div>
  </div>
</header>

<div class="user-menu-container user-menu" #userMenu [@slideInOut]="menuState">
  <app-user-menu></app-user-menu>
</div>
