<header>
  <div class="container d-flex flex-column align-items-center">
    <div class="navbar col-12 d-flex flex-column flex-md-row flex-xl-row align-items-center justify-content-between">
      <ul class="nav d-flex flex-column flex-md-row flex-xl-row justify-content-center align-items-center">
        <li class="nav-item col-12 col-md-auto mb-2 mb-md-0 d-flex justify-content-center">
          <a routerLink="/" class="nav-link px-2 link-light">Inicio</a>
        </li>
        <li class="nav-item col-12 col-md-auto mb-2 mb-md-0 d-flex justify-content-center">
          <a routerLink="/top" class="nav-link px-2 link-light">Puntuaciones</a>
        </li>
        <li *ngIf="isAdmin" class="nav-item col-12 col-md-auto d-flex justify-content-center">
          <a routerLink="/panel" class="nav-link px-2 link-light">Administrar</a>
        </li>
      </ul>
      <div id="session-buttons" class="d-flex justify-content-end flex-column flex-md-row align-items-center" *ngIf="!localStorage.getItem('user')">
        <a routerLink="/login" class="text-decoration-none">
          <button class="btn text-white">Inicia sesión</button>
        </a>
        <a routerLink="/register" class="text-decoration-none">
          <button class="btn text-white">Regístrate</button>
        </a>
      </div>
      <div *ngIf="localStorage.getItem('user')" class="d-flex justify-content-end align-items-center">
        <a class="d-block link-dark text-decoration-none" (click)="toggleUserMenu($event)">
          <img [src]="apiUrl + 'user/' + user.image|| apiUrl + 'user/default.jpg'" alt="userImg" class="profile-img">
        </a>
      </div>
    </div>
  </div>
</header>

<div class="user-menu-container user-menu" *ngIf="localStorage.getItem('user')" #userMenu [@slideInOut]="menuState">
  <app-user-menu></app-user-menu>
</div>
