<header class="p-3">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/" class="nav-link px-2 link-light">Inicio</a></li>
        <li><a href="#" class="nav-link px-2 link-light">Puntuaciones</a></li>
        <li *ngIf="isAdmin"><a routerLink="/panel" class="nav-link px-2 link-light">Administrar</a></li>
      </ul>
      <div
        id="session-buttons"
        class="d-flex justify-content-between flex-wrap"
        *ngIf="!localStorage.getItem('user')">
        <a routerLink="/login" class="text-decoration-none">
          <button
          class="btn text-white"
          >
            Log in
          </button>
        </a>
        <a routerLink="/register" class="text-decoration-none">
          <button
            class="btn text-white"
          >
            Sign in
          </button>
        </a>
      </div>
      <div *ngIf="localStorage.getItem('user')">
        <a class="d-block link-dark text-decoration-none" (click)="toggleUserMenu($event)">
          <img [src]="user.image || 'http://localhost:8080/profile/default.webp'" alt="userImg" class="rounded-circle">
        </a>
      </div>
    </div>
  </div>
</header>

<div class="user-menu-container user-menu" *ngIf="isMenuOpen && localStorage.getItem('user')" #userMenu>
  <app-user-menu></app-user-menu>
</div>
