<div class="w-100 d-flex justify-content-center text-white">
  <form *ngIf="userTypeFrom" class="d-flex flex-column w-50 form-control text-center justify-content-center"
        [formGroup]="userTypeFrom">
    <div class="form-group mb-3">
    <label for="name" class="form-label">Nombre:</label>
    <input type="text" id="name" formControlName="name" class="form-control" placeholder="introduce el nombre del tipo">
    </div>
    <button type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="!userTypeFrom.valid">Crear tipo de usuario</button>
  </form>
</div>
